{% extends "base.html" %}
{% block body %}
    {% if user %}
        <div class="row sticky-top m-2">
          <div class="col"></div>
          <div class="col-md-6 dropdown">
            <select id="filter" name="resource_type" class="form-select form-select-lg m-2"
              hx-get="/p"
              hx-include="#filter,#region_filter"
              hx-sync="#inventory:abort"
              hx-target="#inventory"
              hx-swap="innerHTML">
              <option value="all" {% if (current_resource_type | default('all')) == 'all' %}selected{% endif %}>All</option>
              {% for option in selections %}
              <option value="{{ option }}" {% if option == (current_resource_type | default('all')) %}selected{% endif %}>{{ option }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-2 dropdown">
            <select id="region_filter" name="region" class="form-select form-select-lg m-2"
              hx-get="/p"
              hx-include="#filter,#region_filter"
              hx-sync="#inventory:abort"
              hx-target="#inventory"
              hx-swap="innerHTML">
              {% for region in regions %}
              <option value="{{ region }}" {% if region == (current_region | default(home)) %}selected{% endif %}>{{ region }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <span
            hx-get="/p"
            hx-include="#filter,#region_filter"
            hx-sync="#inventory:abort"
            hx-trigger="revealed once"
            hx-swap="innerHTML"
            hx-target="#inventory"></span>

        <div class="row">
          <div class="col-6">
            <p>Use the <strong class="text-danger">Delete</strong> button to mark a resource for deletion.</p>
          </div>
          <div class="col-6">
            <p>Use the <strong class="text-success">Extend</strong> button to set expiration {{ days }} from today.</p>
          </div>
        </div>
    {% endif %}

    <div id="inventory">
    </div>
{% endblock %}

