{% extends "base.html" %}
{% block body %}
  {% if supported_types %}
    <h2>Supported Resources</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
      {% for type, actions in supported_types|dictsort %}
        <div class="col">
          <div class="border rounded p-3 h-100">
            <strong>{{ type }}</strong>
            <ul class="list-group p-0"></ul>
            {% for action in actions %}
              {% if action == 'Delete' %}
                <li class="list-group-item text-danger p-1">{{ action }}</li>
              {% elif action == 'Extend' %}
                <li class="list-group-item text-success p-1">{{ action }}</li>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h3>Please sign in.</h3>
    {% endif %}
  </div>
{% endblock %}
