<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OCIATEAM Management Page</title>
    <link href="https://ociateam.objectstorage.us-ashburn-1.oci.customer-oci.com/n/ociateam/b/kc-public-files/o/css%2Fbootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
        </div>
        <div class="col-8">
          <h1 class="text-center">OCIATEAM Management Console</h1>
          {% if user %}
            <h2 class="text-center mb-5">Signed in as <span class="text-success">{{ user }}</span></h2>
          {% else %}
            <h2 class="text-center mb-5">You are not signed in</h2>
          {% endif %}
        </div>
        <div class="col">
          {% if user %}
            <a class="btn btn-primary float-end mt-3 ms-3" href="/logout">Sign Out</a>
          {% else %}
            <a class="btn btn-primary float-end mt-3 ms-3" href="/login">Sign In</a>
          {% endif %}
        </div>
      </div>
        {% block body %}
        {# For debugging #}
        <p style="border: 1px solid red;">Block body</p>
        {% endblock %}
    </div>
    <script src="https://ociateam.objectstorage.us-ashburn-1.oci.customer-oci.com/n/ociateam/b/kc-public-files/o/js%2Fbootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://ociateam.objectstorage.us-ashburn-1.oci.customer-oci.com/n/ociateam/b/kc-public-files/o/js%2Fhtmx.min.js" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
  </body>
  <footer class="footer">
    <div class="container sticky-bottom">
      {% block footer %}
      {% endblock %}
      <p class="text-center text-muted">Created by KC Flynn</p>
    </div>
  </footer>
</html>