{% extends "base.html" %}
{% block body %}
    {% if items %}
        {% for item in items %}
            <div class="card bg-light mb-3 border-secondary">
                <div class="card-body row">
                    <div class="col-md-11">
                        <h4 class="card-title">{{ item.display_name }}</h4>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item bg-light">Resource Type: {{ item.resource_type }}</li>
                                <li class="list-group-item bg-light">Compartment: {{ item.compartment_id }}</li>
                                <li class="list-group-item bg-light">State: {{ item.lifecycle_state }}</li>
                                <li class="list-group-item bg-light">Created: {{ item.time_created }}</li>
                                <li class="list-group-item bg-light">Defined Tags: {% for key, value in item.defined_tags.items() %}
                                    <p class="mb-0">{{ key }}</p>
                                        {% for tag, tag_value in value.items() %}
                                            <ul>
                                                <li>{{ tag }} - {{ tag_value }}</li>
                                            </ul>
                                        {% endfor %}
                                    {% endfor %}
                                </li>
                                <li class="list-group-item bg-light">Freeform Tags: {% for key, value in item.freeform_tags.items() %}
                                    <ul>
                                        <li>{{ key }} : {{ value }}</li>
                                    </ul>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-danger float-end m-1">Delete</button>
                        {# <button type="button" class="btn btn-primary float-end m-1">Change Tag</button> #}
                    </div> 
                </div>
            </div>
            {# Load more items if last entry in loop #}
            {% if loop.last %}
                {% if next_page %}
                    <span
                        hx-get="/p?next_page={{ next_page }}"
                        hx-trigger="intersect throttle:1s"
                        hx-swap="afterend"></span>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}