{% extends "base.html" %}
{% block body %}
    {% if items %}
        {% for item in items %}
            {% for key, value in item.items() %}
            <div class="card bg-light mb-3 border-secondary">
                <div class="card-body row">
                    <div class="col-md-8">
                        <h4 class="card-title">{{ key }}</h4>
                        <div class="card-body">
                            <p>{{ value }}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-danger float-end ms-3">Delete</button>
                    </div> 
                </div>
            </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock %}